

.sign-in{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    border:2px solid black;
    width:30vw;
    height:70vh;
}


.sign-in button {
    width:100px; 
}

.sign-in p{
    cursor: pointer;
}